<div class="center jumbotron">
  <h1>RateMyAdvisor</h1>

  <%= image_tag("check-mark-md.png") %>
  <br>
  <p></p>
  <p></p>
  <%= link_to "Find an advisor!", find_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Rate an advisor!", new_review_path, class: "btn btn-lg btn-primary" %>
  <p></p>
  <p></p>

  <%= form_tag professors_path, class: "form-inline", method: :get do %>
  <div class="input-group input-group-lg" >
    <% if params[:query].present? %>
    <div class="input-group-btn">
      <%= link_to "clear", professors_path, class: "btn btn-default" %>
    </div>
    <% end %>
    <%= text_field_tag :query, params[:query], class: "form-control", id: "professor_search", autocomplete: "off" %>
    <div class="input-group-btn">
    <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
  <% end %>
  </div>

</div>
