<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @professor.first_name %> <%= @professor.last_name %>, 
	<%= @professor.department %>
      </h1>
      <h2>
      <%= @professor.netid %>@princeton.edu
      <br>
      <%= link_to "Add a review", new_review_path(id: params[:id]), class: "btn btn-custom" %>
      </h2>
    </section>
  </aside>

  <div class="col-md-8">
    <% if @professor.reviews.any? %>
      <h3>Average Availability (<%= '%.2f' % @professor.avg_avail %>)</h3>
      <h3>Average Responsiveness (<%= '%.2f' % @professor.avg_resp %>)</h3>
      <h3>Average Knowledge (<%= '%.2f' % @professor.avg_know %>)</h3>
      <h3>Average Organization (<%= '%.2f' % @professor.avg_org %>)</h3>
      <h3>Average Friendliness (<%= '%.2f' % @professor.avg_friend %>)</h3>
      <h3>Average Helpfulness (<%='%.2f' %  @professor.avg_help %>)</h3>
      <h3>Comments (<%= @professor.reviews.count %>)</h3>
      <ul class="reviews">
        <%= render @reviews %>
      </ul>
      <%= will_paginate @reviews %>
    <% else %>
      <h3>No reviews yet for this professor!</h3>
    <% end %>
  </div>

</div>
