<li class="jumbotron col-md-10">
  <span class="relationship">Type of work with advisor: <%= review.relationship %></span>
  <br>
  <span class="student_class">Class of <%= review.student_class %></span>
  <br>
  <p></p>
  <span class="comments"><%= review.comments %></span>
  <br>
  <span class="timestamp">
    Posted <%= time_ago_in_words(review.created_at) %> ago.
    <% if session[:cas_user] == "cxduan" %>
      <%= link_to "delete", review, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
    
  </span>
</li>

