<% provide(:title, "Rate") %>
<h1>Rate an advisor</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@review) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :student_netid, "Your NetID" %>
      <%= f.text_field :student_netid, class: 'form-control' %>

      <%= f.label :student_class, "Your Class Year" %>
      <%= f.text_field :student_class, class: 'form-control' %>

      <%= f.label :professor_netid, "Professor NetID" %>
      <%= f.text_field :professor_netid, class: 'form-control' %>

      <%= f.label :relationship, "Type of work with advisor" %>
      <%= f.text_field :relationship, class: 'form-control' %>

      <% if false %>
      <%= f.label :availability, "Availability" %>
      <%= range_field(:availability, in: 1..5) %>
      <% end %>

      <% if false %>
      <%= f.radio_button :availability, 1, class: 'form-control' %>
      <%= f.label :availability, :value => "1" %>
      <%= f.radio_button :availability, 2, class: 'form-control' %>
      <%= f.label :availability, :value => "2" %>
      <% end %>

      <% if false %>
      <%= f.label :availability, "Availability" %>
      <div style="display:inline">
            <input type="radio" name="availability" id="1" />
            <label for="1">1</label>
            <input type="radio" name="availability" id="2" />
            <label for="2">2</label>
            <input type="radio" name="availability" id="3" />
            <label for="3">3</label>
      </div>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
      <% end %>

      <table>
      <tr>

      <%= f.label :availability, "Availability" %>
      <td><%= f.radio_button :availability, '1' %><%= f.label :availability, '1', :style => "display:inline" %></td>

      <td><%= f.radio_button :availability, '2' %><%= f.label :availability, '2', :style => "display:inline" %></td>

      <td><%= f.radio_button :availability, '3' %><%= f.label :availability, '3', :style => "display:inline"  %> </td>
     
      </tr>
      </table>

      <%= f.label :responsiveness, "Responsiveness" %>
      <%= f.text_field :responsiveness, class: 'form-control' %>

      <%= f.label :knowledge, "Knowledge" %>
      <%= f.text_field :knowledge, class: 'form-control' %>

      <%= f.label :organization, "Organization" %>
      <%= f.text_field :organization, class: 'form-control' %>

      <%= f.label :friendliness, "Friendliness" %>
      <%= f.text_field :friendliness, class: 'form-control' %>

      <%= f.label :helpfulness, "Helpfulness" %>
      <%= f.text_field :helpfulness, class: 'form-control' %>

      <div class="field">
	<%= f.text_area :comments, placeholder: "Comments" %>
      </div>

      <%= f.submit "Add review", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
