<% provide(:title, "Rate") %>
<h1>Rate an advisor</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@review) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.hidden_field :student_netid, :value => session[:cas_user]%>

      <% if false %>
      <%= f.label :student_netid, "Your NetID" %>
      <%= f.text_field :student_netid, class: 'form-control' %>
      <% end %>

      <%= f.label :student_class, "Your Class Year" %>
      <%= f.text_field :student_class, class: 'form-control' %>

      <%= f.label :professor_netid, "Professor NetID" %>
      <%= f.text_field :professor_netid, class: 'form-control' %>

      <div class="form-inline">
      <table>
      <tr>
      <%= f.label :relationship, "Type of work with advisor" %>
      <td><%= f.radio_button :relationship, "Senior Thesis", :style => "margin-left: 10px" %><%= f.label :relationship, 'Senior Thesis', :style => "display:inline", :style => "margin-left: 15px"%></td>
      <td><%= f.radio_button :relationship, "Junior Independent Work", :style => "margin-left: 10px" %><%= f.label :relationship, 'Junior Independent Work', :style => "display:inline", :style => "margin-left: 15px" %></td>
      <td><%= f.radio_button :relationship, "Research Assistant", :style => "margin-left: 10px" %><%= f.label :relationship, 'Research Assistant', :style => "display:inline", :style => "margin-left: 15px" %></td>
      <tr>
      </table>
      </div>


      <table>
      <tr>
      <%= f.label :availability, "Availability" %>
      <td>Very unavailable</td>
      <td><%= f.radio_button :availability, 1, :style => "margin-left: 10px" %><%= f.label :availability, '1', :style => "display:inline", :style => "margin-left: 15px" %></td>
      <td><%= f.radio_button :availability, 2, :style => "margin-left: 10px" %><%= f.label :availability, '2', :style => "display:inline", :style => "margin-left: 15px" %></td>
      <td><%= f.radio_button :availability, 3, :style => "margin-left: 10px" %><%= f.label :availability, '3', :style => "display:inline", :style => "margin-left: 15px" %> </td>
      <td><%= f.radio_button :availability, 4, :style => "margin-left: 10px" %><%= f.label :availability, '4', :style => "display:inline", :style => "margin-left: 15px" %> </td>
      <td><%= f.radio_button :availability, 5, :style => "margin-left: 10px" %><%= f.label :availability, '5', :style => "display:inline", :style => "margin-left: 15px" %> </td>
      <td>Very available</td>
      </tr>
      </table>

      <table>
      <tr>
      <%= f.label :responsiveness, "Responsiveness" %>
      <td>Very unresponsive</td>
      <td><%= f.radio_button :responsiveness, 1, :style => "margin-left: 10px" %><%= f.label :responsiveness, '1', :style => "display:inline", :style => "margin-left: 15px" %></td>
      <td><%= f.radio_button :responsiveness, 2, :style => "margin-left: 10px" %><%= f.label :responsivenes, '2', :style => "display:inline", :style => "margin-left: 15px" %></td>
      <td><%= f.radio_button :responsiveness, 3, :style => "margin-left: 10px" %><%= f.label :responsiveness, '3', :style => "display:inline", :style => "margin-left: 15px" %> </td>
      <td><%= f.radio_button :responsiveness, 4, :style => "margin-left: 10px" %><%= f.label :responsiveness, '4', :style => "display:inline", :style => "margin-left: 15px" %> </td>
      <td><%= f.radio_button :responsiveness, 5, :style => "margin-left: 10px" %><%= f.label :responsiveness, '5', :style => "display:inline", :style => "margin-left: 15px" %> </td>
      <td>Very responsive</td>
      </tr>
      </table>

      <table>
      <tr>
      <%= f.label :knowledge, "Knowledge" %>
      <td>Very unknowledgeable</td>
      <td><%= f.radio_button :knowledge, 1, :style => "margin-left: 10px" %><%= f.label :knowledge, '1', :style => "display:inline", :style => "margin-left: 15px" %></td>
      <td><%= f.radio_button :knowledge, 2, :style => "margin-left: 10px" %><%= f.label :knowledge, '2', :style => "display:inline", :style => "margin-left: 15px" %></td>
      <td><%= f.radio_button :knowledge, 3, :style => "margin-left: 10px" %><%= f.label :knowledge, '3', :style => "display:inline", :style => "margin-left: 15px" %> </td>
      <td><%= f.radio_button :knowledge, 4, :style => "margin-left: 10px" %><%= f.label :knowledge, '4', :style => "display:inline", :style => "margin-left: 15px" %> </td>
      <td><%= f.radio_button :knowledge, 5, :style => "margin-left: 10px" %><%= f.label :knowledge, '5', :style => "display:inline", :style => "margin-left: 15px" %> </td>
      <td>Very knowledgeable</td>
      </tr>
      </table>

      <table>
      <tr>
      <%= f.label :organization, "Organization" %>
      <td>Very unorganized</td>
      <td><%= f.radio_button :organization, 1, :style => "margin-left: 10px" %><%= f.label :organization, '1', :style => "display:inline", :style => "margin-left: 15px" %></td>
      <td><%= f.radio_button :organization, 2, :style => "margin-left: 10px" %><%= f.label :organization, '2', :style => "display:inline", :style => "margin-left: 15px" %></td>
      <td><%= f.radio_button :organization, 3, :style => "margin-left: 10px" %><%= f.label :organization, '3', :style => "display:inline", :style => "margin-left: 15px" %> </td>
      <td><%= f.radio_button :organization, 4, :style => "margin-left: 10px" %><%= f.label :organization, '4', :style => "display:inline", :style => "margin-left: 15px" %> </td>
      <td><%= f.radio_button :organization, 5, :style => "margin-left: 10px" %><%= f.label :organization, '5', :style => "display:inline", :style => "margin-left: 15px" %> </td>
      <td>Very organized</td>
      </tr>
      </table>

      <table>
      <tr>
      <%= f.label :friendliness, "Friendliness" %>
      <td>Very unfriendly</td>
      <td><%= f.radio_button :friendliness, 1, :style => "margin-left: 10px" %><%= f.label :friendliness, '1', :style => "display:inline", :style => "margin-left: 15px" %></td>
      <td><%= f.radio_button :friendliness, 2, :style => "margin-left: 10px" %><%= f.label :friendliness, '2', :style => "display:inline", :style => "margin-left: 15px" %></td>
      <td><%= f.radio_button :friendliness, 3, :style => "margin-left: 10px" %><%= f.label :friendliness, '3', :style => "display:inline", :style => "margin-left: 15px" %> </td>
      <td><%= f.radio_button :friendliness, 4, :style => "margin-left: 10px" %><%= f.label :friendliness, '4', :style => "display:inline", :style => "margin-left: 15px" %> </td>
      <td><%= f.radio_button :friendliness, 5, :style => "margin-left: 10px" %><%= f.label :friendliness, '5', :style => "display:inline", :style => "margin-left: 15px" %> </td>
      <td>Very friendly</td>
      </tr>
      </table>

      <table>
      <tr>
      <%= f.label :helpfulness, "Helpfulness" %>
      <td>Very unhelpful</td>
      <td><%= f.radio_button :helpfulness, 1, :style => "margin-left: 10px" %><%= f.label :helpfulness, '1', :style => "display:inline", :style => "margin-left: 15px" %></td>
      <td><%= f.radio_button :helpfulness, 2, :style => "margin-left: 10px" %><%= f.label :helpfulness, '2', :style => "display:inline", :style => "margin-left: 15px" %></td>
      <td><%= f.radio_button :helpfulness, 3, :style => "margin-left: 10px" %><%= f.label :helpfulness, '3', :style => "display:inline", :style => "margin-left: 15px" %> </td>
      <td><%= f.radio_button :helpfulness, 4, :style => "margin-left: 10px" %><%= f.label :helpfulness, '4', :style => "display:inline", :style => "margin-left: 15px" %> </td>
      <td><%= f.radio_button :helpfulness, 5, :style => "margin-left: 10px" %><%= f.label :helpfulness, '5', :style => "display:inline", :style => "margin-left: 15px" %> </td>
      <td>Very helpful</td>
      </tr>
      </table>

      <p></p>
      <div class="field">
	<%= f.text_area :comments, placeholder: "Comments", :rows => 5 %>
      </div>

      <%= f.submit "Add review", class: "btn btn-custom" %>
    <% end %>
  </div>
</div>
